*
nvim/.env

!nvim/
!nvim/**

!tmux/
!tmux/**

!wezterm/
!wezterm/**

!aerospace/
!aerospace/**

!git/
!git/config
!git/ignore

!zsh/
!zsh/**

!.github/
!.github/**

!readme.md
!.gitignore
!keychron_keymap.json
